services:
  - type: web
    name: clan-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        value: "6495178643"
      - key: SUPABASE_URL
        value: "https://oomxbawrjmqczezdpaqp.supabase.co"
      - key: SUPABASE_KEY
        sync: false
      - key: RENDER
        value: "true"
