services:
  - type: web
    name: clan-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        value: 6495178643
      - key: CLAN_LINK
        value: https://t.me/+ytVpfVJ_5rk1ODQy
    plan: free
